
ul {
  list-style: none;
}

.wrapper {
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.wrapper li {
}

.sub {
  display: none;
  margin: 5px 0px 5px 5px;
  }

.content {
    margin-bottom: 5px;
    height: 40px;
    background-color: #f1f1f1;
    border: 1px solid gray;
    padding: 10px;
    line-height: 40px;
    text-indent: 15px;
}

.content .pic {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.content span {
    display: inline-block;
    height: inherit;
    line-height: inherit;
    vertical-align: top;
}

.expandable {
  cursor: pointer;
}

.content.show {
  background-color: #cccccc;
}

[data-state="on"] {
  display: block;
}
.show .caret:before {
    content: "\f0d7";
}
.caret:before {
  content: "\f0da";
}
